{% extends 'He_Loveapp/base.html' %} 
{% block title %}
	{% if appuser is None %}
		S'enregistrer
	{% else %}
		Modifier profile
	{% endif %}
{% endblock %}
{% block content %}

{% if appuser is None %}
<div>
{% else %}
<div class="register">
{% endif %}
	<form method="post">
		{% csrf_token %} 
		{{form.as_p}}
		<input type="submit" value="Sign up" />
	</form>
</div>

<script>
	function checkAlreadyCheckedBox(interests, documentName){
		interests = interests.slice(14, interests.length - 5);
		interestsTab = interests.split(',');

		for (let i = 0; i < interestsTab.length; i++){
			let interestTab = interestsTab[i];
			interestTab = interestTab.trim();
			interestTab = interestTab.slice(0, interestTab.length-1);
			
			let name = interestTab.split(':')[1];
			name = name.trim();
			name = name.slice(6, name.length-6);
			name = name.replace(/[\n\t\r]/g,"");
			
			let boxes = document.getElementsByName(documentName);
			for (let j = 0; j < boxes.length; j++) {
				let box = boxes[j];
				let boxName = box.parentElement.textContent;
				boxName = boxName.replace(/[\n\t\r]/g,"");
				boxName = boxName.trim();
				
				if (boxName == name){
					box.parentElement.parentElement.classList.add("selected");
					box.checked = true;
				} 
			}
		}
	}

	var user = '{{appuser}}';
	if (user){
		checkAlreadyCheckedBox('{{gender_interests}}', 'user_gender_interests');
		checkAlreadyCheckedBox('{{interests}}', 'user_interests');
	}

	var nbInterests = 0;
	var nbGenderInterests = 0;

	function changeColor(name, nbMax) {
		var i = 0;
		var checkbox = document.getElementById(name + i);
		while (checkbox != null) {
			// Change color on load
			if (checkbox.checked){
				checkbox.parentElement.parentElement.classList.add("selected");
			}

			// Change color event
			checkbox.addEventListener('change', (event) => {
				li = event.target.parentElement.parentElement;
				if (event.currentTarget.checked) {
					if (nbMax < 5){
						li.classList.add("selected");
						nbMax++;
					}
					else {
						event.target.checked = false;
					}
				} 
				else {
					if (li.classList.contains("selected")){
						li.classList.remove("selected");
						nbMax--;
					}
				}
			});
			
			i++;
			var checkbox = document.getElementById(name + i);
		}
	}

	changeColor("id_user_gender_interests_", nbGenderInterests);
	changeColor("id_user_interests_", nbInterests);

	document.getElementById("id_birth_date").type = "date";
</script>

{% endblock %}