{% extends 'He_Loveapp/base.html' %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}

{% for appuser in object_list %}
	<div class="card">
		<div class="informations">
			<div class="username"><strong class="username">{{ appuser.username }}</strong> {{ appuser.get_age }}</div>
			<div class="interests">
				{% for appuser_interest in appuser.get_interests %}
					<div class="interest">{{ appuser_interest.interest.description }}</div>
				{% empty %}
					<div class="interest">Aucune</div>
				{% endfor %}
			</div>
			<div class="description">{{ appuser.description }}</div>
		</div>
		<div class="buttons">
			<a class="button" onclick="swipeLeft(this)" href="javascript:delay('{% url 'users-dislike' appuser.id %}')">{% load static %} <img class="icon" src="{% static "src/vue/files/img/dislike.png" %}" alt="dislike"/></a>
			<a class="button minus-button" onclick="swipeUp(this)" href="javascript:delay('{% url 'users-superlike' appuser.id %}')">{% load static %} <img class="icon minus-icon" src="{% static "src/vue/files/img/superlike.png" %}" alt="superlike"/></a>
			<a class="button" onclick="swipeRight(this)" href="javascript:delay('{% url 'users-like' appuser.id %}')">{% load static %} <img class="icon" src="{% static "src/vue/files/img/like.png" %}" alt="like"/></a>
		</div>
	</div>
{% empty %}
	<div>
		Aucun utilisateur pour le moment ...
	</div>
{% endfor %}

<script>
	function swipeLeft(element)
	{
		let card = element.parentElement.parentElement;
		card.classList.add('moving-left');
	}

	function swipeRight(element)
	{
		let card = element.parentElement.parentElement;
		card.classList.add('moving-right');
	}

	function swipeUp(element)
	{
		let card = element.parentElement.parentElement;
		card.classList.add('moving-up');
	}
	
	function delay(URL) {
		setTimeout(function() { window.location = URL }, 500 );
	}	
</script>

{% endblock %}

