{% extends 'He_Loveapp/base.html' %}

{% block title %}Détail{% endblock %}

{% block content %}

<div>
	<div>Prénom: {{ appuser.username }}</div>
	<div>Age: {{ appuser.get_age }}</div>
	<div>Genre: {{ appuser.gender.name }}</div>
	<div>Description: {{ appuser.description }}</div>
	<div>Intérêts: 
		{% for interest in appuser.get_interests %}
			<div> {{ interest.interest.desciption }} </div>
		{% endfor %}
	<div>
	<div>Genres recherchés: 
		{% for gender_interest in appuser.get_gender_interests %}
			<div> {{ gender_interest.gender.name }} </div>
		{% endfor %}
	<div>
</div>

{% endblock %}