{% extends 'He_Loveapp/base.html' %}

{% block title %}Détail{% endblock %}

{% block content %}

<div class="profile">
	<div class="section">
		<div class="top">
			<div class="username">{{ appuser.username }} {{ appuser.get_age }}</div>
			{% if user.id == appuser.id %}
				<a class="button minus-button" href="/accounts/logout">
					{% load static %} <img class="minus-icon" src="{% static "src/vue/files/img/logout.png" %}" alt="logout"/>
				</a>
			{% endif %}
		</div>
	</div>

	<div class="section">
		<div class="title">Photo de profil</div>
		{% if appuser.profile_picture %}
			<img class="profile-picture" src="{{ appuser.profile_picture.url }}" alt="profile picture"/>	
		{% else %}
			<div>Aucune photo</div>
		{% endif %}
	</div>

	<div class="section">
		<div class="title">Photos</div>
		<div class="pictures">
			{% for picture in appuser.get_pictures %}
				<img class="picture" src="{{ picture.path.url }}" alt="picture"/>
			{% empty %}
				<div>Aucune photo</div>
			{% endfor %}
		</div>
	</div>

	<div class="section">
		<div class="title">Description</div>
		<div class="info">{{ appuser.description }}</div>	
	</div>
	
	<div class="section">
		<div class="title">Genre</div>
		<div class="info">{{ appuser.gender.name }}</div>	
	</div>

	<div class="section">
		<div class="title">Intérêts</div>
		<div class="interests">
			{% for appuser_interest in appuser.get_interests %}
				<div class="interest" style="font-size: 12px">{{ appuser_interest.interest.description }}</div>
			{% empty %}
				<div class="interest">Aucune</div>
			{% endfor %}
		</div>
	</div>

	<div class="section">
		<div class="title">Genres recherchés</div>
		<div class="interests">
			{% for appuser_gender_interest in appuser.get_gender_interests %}
				<div class="interest" style="font-size: 12px">{{ appuser_gender_interest.gender.name }}</div>
			{% empty %}
				<div class="interest">Aucun</div>
			{% endfor %}
		</div>
	</div>

	{% if user.id == appuser.id %}
	<div class="profile-buttons">
		<a class="profile-button" href="{% url 'users-update' user.id %}">Modifier</a>
	</div>
	{% endif %}
</div>	

{% endblock %}