{% extends 'He_Loveapp/base.html' %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}

<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Nom</th>
			<th>Age</th>
			<th>Genre</th>
			<th>Recherche</th>
			<th>Description</th>
			<th>Intérêts</th>
		</tr>
	</thead>

	{% for user in object_list %}

	<tr>
		<td>
			{{ user.id }}
		</td>
		<td>
			{{ user.username }}
		</td>
		<td>
			{{ user.get_age }}
		</td>
		<td>
			{{ user.gender.name }}
		</td>
		<td>
			{% if user.get_gender_interests.count > 0 %}
				{% for gender_interest in user.get_gender_interests %}
					{{ gender_interest.gender.name }}
				{% endfor %}
			{% else %}
				Nothing
			{% endif %}
		</td>
		<td>
			{{ user.description }}
		</td>
		<td>
			{% if user.get_interests.count > 0 %}
				{% for interest in user.get_interests %}
					<div> {{ interest.interest.desciption }} </div>
				{% endfor %}
			{% else %}
				Nothing
			{% endif %}
		</td>
	</tr>

	{% endfor %}
</table>

<style>
	table, th, td {
		border: 1px solid;
	}

	table {
		text-align:center;
	}
</style>

{% endblock %}

