{% extends 'He_Loveapp/base.html' %}

{% block title %}Détail{% endblock %}

{% block content %}

<div>
	<div>Prénom: {{ appuser.username }}</div>
	<div>Age: {{ appuser.get_age }}</div>
	<div>Genre: {{ appuser.gender.name }}</div>
	<div>Description: {{ appuser.description }}</div>
	<div>Intérêts: 
		{% if appuser.get_interests.count > 0 %}
				{% for interest in appuser.get_interests %}
				<div> {{ interest.interest.desciption }} </div>
			{% endfor %}
		{% else %}
			Nothing
		{% endif %}
	<div>
	<div>Genres recherchés: 
		{% if appuser.get_gender_interests.count > 0 %}
			{% for gender_interest in appuser.get_gender_interests %}
				{{ gender_interest.gender.name }}
			{% endfor %}
		{% else %}
			Nothing
		{% endif %}
	<div>
</div>

{% endblock %}