{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <header>
    {% load static %} <img class="icon" src="{% static "src/vue/files/img/fire.png" %}" alt="swipe"/>
    <div class="title">
      he-love
    </div>
  </header>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% if user.is_authenticated %}
  <div class="navbar">
    <a class="button" href="{% url 'users-detail' user.id %}">
      {% load static %} <img class="icon" src="{% static "src/vue/files/img/profile.png" %}" alt="profile"/>
    </a>
    <a class="button" href="{% url 'users-list' %}">
      {% load static %} <img class="icon" src="{% static "src/vue/files/img/fire.png" %}" alt="swipe"/>
    </a>
    <a class="button" href="">
      {% load static %} <img class="icon" src="{% static "src/vue/files/img/chat.png" %}" alt="chat"/>
    </a>
    <a class="button" href="{% url 'events-list' %}">
      {% load static %} <img class="icon" src="{% static "src/vue/files/img/event.png" %}" alt="event"/>
    </a>
  </div>
  {% endif %}

  <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
  <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
  <link href="{% static 'src/vue/files/css/app.css' %}" rel=stylesheet>
</body>