{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
</head>

<body style="visibility:hidden">
  <header>
      <a href="{% url 'users-list' %}">
        {% load static %} <img class="main-logo" src="{% static "src/vue/files/img/he_love.png" %}" alt="swipe" href="{% url 'home' %}"/>
      </a>
  </header>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% if user.is_authenticated %}
    <div class="navbar">
      {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'users-detail' %}
          <a class="button selected-view" href="{% url 'users-detail' user.id %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/profile-white.png" %}" alt="profile"/>
          </a>
        {% else %}
          <a class="button" href="{% url 'users-detail' user.id %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/profile.png" %}" alt="profile"/>
          </a>
        {% endif %}

        {% if view_name == 'users-list' %}
          <a class="button selected-view" href="{% url 'users-list' %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/fire-white.png" %}" alt="swipe"/>
          </a>
        {% else %}
          <a class="button" href="{% url 'users-list' %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/fire.png" %}" alt="swipe"/>
          </a>
        {% endif %}

        {% if view_name == 'chat' %}
          <a class="button selected-view" href="{% url 'chat' %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/chat-white.png" %}" alt="chat"/>
          </a>
        {% else %}
          <a class="button" href="{% url 'chat' %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/chat.png" %}" alt="chat"/>
          </a>
        {% endif %}

        {% if view_name == 'events-list' %}
          <a class="button selected-view" href="{% url 'events-list' %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/event-white.png" %}" alt="event"/>
          </a>
        {% else %}
          <a class="button" href="{% url 'events-list' %}">
            {% load static %} <img class="icon" src="{% static "src/vue/files/img/event.png" %}" alt="event"/>
          </a>
        {% endif %}
      {% endwith %}
    </div>
  {% endif %}

  <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
  <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
  <link href="{% static 'src/vue/files/css/app.css' %}" rel=stylesheet>
</body>

<script>
  // Only display page when everything is loaded
  document.onreadystatechange = function() {
    if (document.readyState === "complete") {
      document.querySelector("body").style.visibility = "visible";
    }
  };
</script>