{% extends 'He_Loveapp/base.html' %}

{% block title %}Events{% endblock %}

{% block content %}

<table>
	<thead>
		<tr>
			<th>#</th>
			<th></th>
			<th>Titre</th>
			<th>Date</th>
			<th>Description</th>
		</tr>
	</thead>

	{% for event in object_list %}

	<tr>
		<td>
			<img class="icon" src="../media/{{ event.image }}">
		</td>
		<td>
			{{ event.id }}
		</td>
		<td>
			{{ event.title }}
		</td>
		<td>
			{{ event.date }}
		</td>
		<td>
			{{ event.description }}
		</td>
	</tr>

	{% endfor %}
</table>

{% endblock %}