{% extends 'He_Loveapp/base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}

<div class="event-details">
	{% load static %}<a class="back-button" href="{% url 'events-list' %}"><img class="icon" src="{% static "src/vue/files/img/backIcon.png" %}"/></a>

	<img class="image" src="../../media/{{ event.image }}"/>
	<div class="details">
		<div class="title">{{ event.title }}</div>
		<div class="date">{{ event.date }}</div>
		<div class="description">{{ event.description }}</div>
	</div>
	
	<div class="participants">
		<div>Liste des participants :</div>
		{% for user in event.getParticipants %}
			<a class="participant" href="{% url 'users-detail' user.id %}">{{ user.username }}</a>
		{% empty %}
			<div class="participant">Aucun participant encore</div>
		{% endfor %}
	</div>
</div>

{% endblock %}