{% extends 'He_Loveapp/base.html' %}

{% block title %}Events{% endblock %}

{% block content %}

<div>
	<div><img id="eventImg" src="../../media/{{ event.image }}"></div>
	<div>Titre: {{ event.title }}</div>
	<div>Date: {{ event.date }}</div>
	<div>Description: {{ event.description }}</div>
	<div>
		{% for user in event.getParticipants %}
			<div><a href="{% url 'users-detail' user.id %}">{{ user.username }}</a></div>
		{% endfor %}
	</div>
	<div>{% load static %}<a href="{% url 'events-list' %}"><img class="icon" src="{% static "src/vue/files/img/backIcon.png" %}"/></div>
</div>

{% endblock %}