{% extends 'He_Loveapp/base.html' %}

{% block title %}Evènements{% endblock %}

{% block content %}

<div class="events">
	<div class="button-group">
		<a class="create-button" href="{% url 'events-create' %}">Nouvel évènement</a>
	</div>

    {% for event in object_list %}
        <div class="event">
			<div class="infos">
				<img class="profile-picture" src="../media/{{ event.image }}" alt="event image"/>
				<div class="event-infos">
					<a class="title" href="{% url 'events-detail' event.id %}">{{ event.title }}</a>
					<div class="date">{{ event.date }}</div>
				</div>
				<div class="nb-participants">
					<div>{{ event.get_nb_partipants }}</div>
					{% load static %} <img class="icon-participants" src="{% static "src/vue/files/img/profile-black.png" %}"/>
				</div>
			</div>

			{% if user.id in event.getParticipantsId %}
				<a class="event-button" href="{% url 'events-leave' event.id %}">Quitter</a>
			{% else %}
				<a class="event-button" href="{% url 'events-join' event.id %}">Rejoindre</a>
			{% endif %}
        </div>
    {% empty %}
        Aucun évènement pour le moment ...
    {% endfor %}
</div>

{% endblock %}