{% extends 'He_Loveapp/base.html' %}

{% block title %}
    Match 
    {% if user.id == users_1.id %}
        {{ users_2.username }}
    {% else %}
        {{ users_1.username }}
    {% endif %}
{% endblock %}

{% block content %}

<div class="chat">
    {% if user.id == users_1.id %}
        <a class="user" href="{% url 'users-detail' users_2.id %}">{{ users_2.username }}</a>
    {% else %}
        <a class="user" href="{% url 'users-detail' users_1.id %}">{{ users_1.username }}</a>
    {% endif %}

    <div id="messages">
        {% for chat in chats %}
            {% if user.id == chat.user_sender.id %}
                <div class="mine-msg messagebox">
                    <div class="message-content mine-content">
            {% else %}
                <div class="other-msg messagebox">
                    <div class="message-content other-content">
            {% endif %}
                        {% if chat.message != '' %}
                            <div class="datetime">{{chat.date|date:'d/m'}} {{chat.date|time:'H:i:s'}}</div>
                            <div class="message">{{chat.message}}</div>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>

    <div class="input">
        <input id="chat-message-input" type="text" placeholder="Entrez votre message"><br>
        <input id="chat-message-submit" type="button" value="Envoyer">
        {{ room_name|json_script:"room-name" }}
    </div>
</div>

<script>
    window.addEventListener("load", function(event) {
        window.scrollTo(0, document.body.scrollHeight);
    });

   const roomName = JSON.parse(document.getElementById('room-name').textContent);

      var wsStart = 'ws://';
          if (window.location.protocol == 'https:') {
              wsStart = 'wss://'
          }

      const chatSocket = new WebSocket(
          wsStart
          + window.location.host
          + '/ws/chat/'
          + roomName
          + '/'
      );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (!data.message){
            return;
        }

        let me = '{{user.username}}'
        let sender = data.sender;

        let chat = document.querySelector('#messages');

        let divMessageBox = document.createElement("div");
        divMessageBox.classList.add('messagebox');
        if (me == sender){
            divMessageBox.classList.add('mine-msg');
        }
        else{
            divMessageBox.classList.add('other-msg');
        }

        let divContent = document.createElement("div");
        divContent.classList.add('message-content');

        let divDatetime = document.createElement("div");
        divDatetime.classList.add('datetime');
        divDatetime.innerHTML = data.date_time; //////////////////////

        let divMessage = document.createElement("div");
        divMessage.classList.add('message');
        divMessage.innerHTML = data.message;

        divContent.append(divDatetime);
        divContent.append(divMessage);
        divMessageBox.append(divContent);

        chat.append(divMessageBox);

        window.scrollTo(0, document.body.scrollHeight);
    };

    chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly\n'+e);
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {

            var pad = function(num) { return ('00'+num).slice(-2) };
            var date;
            date = new Date();
            date = date.getUTCFullYear()         + '-' +
                    pad(date.getUTCMonth() + 1)  + '-' +
                    pad(date.getUTCDate())       + ' ' +
                    pad(date.getUTCHours())      + ':' +
                    pad(date.getUTCMinutes())    + ':' +
                    pad(date.getUTCSeconds());

            const messageInputDom = document.querySelector('#chat-message-input');
            const sender = "{{user.username}}";
            const message = messageInputDom.value;
            const date_time = date
            const insertion = InsertRecord(message,date);
            
            chatSocket.send(JSON.stringify({
                'sender': sender,
                'message': message,
                'date_time' : date_time,
                'insertion' : insertion
            }));
            messageInputDom.value = '';
        };

        function InsertRecord(_message,_date)  
        {  
            var pad = function(num) { return ('00'+num).slice(-2) };

            var sender = "{{user.username}}"
            var receiver = "{{users_2}}"
            if ("{{users_2}}" == "{{user.username}}")   
                receiver = "{{users_1}}"
            var message = _message;  
            var date = _date
            var match = "{{match.pk}}"  
            var value_to_return = sender+"|"+receiver+"|"+message+"|"+date+"|"+match
            console.log(value_to_return)
            return value_to_return
        } 
</script>

{% endblock %}